<%= render 'components/header' do %>
  <h1 class="font-serif text-4xl">Admin dashboard<br></h1>
  <p class="font-serif opacity-80">Only admins can see this page</p>
<% end %>
<div class="p-4">
  <div class="container">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      <% DASHBOARD_CLASSES.each do |klass| %>
        <% index_path = Rails.application.routes.url_helpers.send("dashboard_#{klass.pluralize.underscore}_path") %>
        <%= link_to index_path, class: "text-black border px-6 py-4 text-center cursor-pointer inline-block uppercase w-full flex items-center justify-center font-medium" do %>
          <%= klass.underscore.humanize.pluralize %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
