<% content_for :meta_title, 'Workouts' %>

<%= render 'components/header' do %>
	<h1 class="font-serif text-4xl">Workouts</h1>
	<p class="font-serif opacity-80">Select from our categories of workouts, designed for practising mindful movement</p>
<% end %>

<%= render 'daily_workouts/todays_workouts', workouts: @todays_workouts %>

<div class="p-4">
	<div class="container">
		<div class="flex items-center justify-between mb-4">
			<h2 class="uppercase font-medium mb-0 leading-none">Categories</h2>
		</div>
		<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
			<% @categories.each do |category| %>
				<%= render 'categories/category', category: category %>
			<% end %>
		</div>
	</div>
</div>