<div class="md:w-1/2 bg-white h-96 md:max-h-screen md:h-full overflow-hidden border-b border-black md:border-b-0 md:border-r">
  <%= image_tag img_path, class: "object-cover object-bottom h-full w-full" %>
</div>