<% if records.empty? %>
	<div class="bg-white bg-opacity-30 border border-black text-center font-serif p-4">
		<% if message %>
			<h4 class="opacity-90"><%= message %></h4>
		<% else %>
			<h4 class="opacity-90">No results found...</h4>
		<% end %>
	</div>
<% end %>