<%= render 'components/header' do %>
	<%= link_to dashboard_workouts_path, class:"mb-2 inline-flex items-center opacity-50 hover:opacity-100 transition-opacity duration-300 ease-out" do %>
		<%= render "icons/chevron_left_small", klass: "text-black h-2.5 w-2.5 mr-1" %>
		All workouts
	<% end %>
	<h1 class="font-serif text-4xl">Edit workout</h1>
<% end %>
<div class="p-4 pt-0">
	<div class="container">
		<%= render 'form', workout: @workout %>
	</div>
</div>