<div id="transition-loader" class="hidden opacity-0 transition-opacity duration-1000 ease-in mix-blend-multiply top-0 left-0 fixed w-screen h-screen flex items-center justify-center z-10">
	<%= image_tag 'spinner.gif', class:'h-24' %>
</div>