<div id="transition-loader" class="pointer-events-none opacity-0 mix-blend-multiply top-0 left-0 fixed w-screen h-screen flex items-center justify-center" style="z-index: -1;">
 	<%= image_tag 'spinner.gif', class:'h-24' %>
 </div>