<%= render 'components/header' do %>
  <%= render 'components/back/text_link', text: 'Back', klass:'mb-2' %>
  <h1 class="font-serif text-4xl">About us</h1>
<% end %>

<div class="mb-8 p-4">
  <div class="container">
    <h2 class="font-serif text-lg mb-2 mt-6">What is Align Body?</h2>
    <p class="mb-4 opacity-50">We are a training platform, but not like the sort you have seen before. Us women are complex and wonderful creatures with bodies that transition through monthly menstruation phases that often are not accounted for when it comes to training.</p>
    <p class="mb-4 opacity-50">Have you ever been at the gym or training at home and you feel amazing? Maybe you’re doing more reps, or heavier weights and feeling super buzzed about it. It’s an epic feeling! But… then comes next week and you are doing the same workout, but it’s a whole lot harder. How can this be? I mean it was just last week that I was feeling so strong and now in the same movements it seems to feel 10x harder **Queue the negative mental chatter**. So in frustration you push through workouts that don’t feel right, but you do them anyway because… well, it felt great last week… Surely I should be better than last time…</p>
    <h2 class="font-serif text-lg mb-2 mt-6">Women's bodies are different from men</h2>
    <p class="mb-4 opacity-50">Our (women’s) bodies are working through different phases, and with this come lots of changes and an influx of hormones to support our menstrual cycles. So why the heck are we continually working against our physiology?! Whether you have a regular or irregular cycle, or no cycle at all, we should be working out with the rhythms of our bodies. </p>
    <h2 class="font-serif text-lg mb-2 mt-6">What sets us apart</h2>
    <p class="mb-4 opacity-50">We ask the important questions. Specifically, how to achieve optimal results while working with our hormones. And more importantly, learning to understand our bodies and what the heck is happening to them, rather than constantly struggling through pain, frustration and injury.</p>
    <h2 class="font-serif text-lg mb-2 mt-6">How we structure workouts</h2>
    <p class="mb-4 opacity-50">So what we have done is divide our workouts into two main phases of the menstrual cycle; Follicular and Luteal. We will break these down a little later, but pretty much this is what this looks like:</p>
    <div class="pl-4">
      <ul class="list-disc">
        <li><span class="font-medium uppercase pb-4">Follicular phase</span><br><span class="opacity-50">When our hormones are at the lowest point and start to rise, this means it’s an incredible time to put the extra work in - these workouts tend to be harder and higher intensity.</span></li>
        <li><span class="font-medium uppercase">Luteal phase</span><br><span class="opacity-50">When our hormones are peaking, so it’s the perfect time to work on technique in slower and controlled workouts. This time is so important as it allows us the correct form and technique so we can push ourselves when it comes to our Follicular phase.</span></li>
      </ul>
    </div>
    <h2 class="font-serif text-lg mb-2 mt-6">Let's learn to love our body</h2>
    <p class="mb-4 opacity-50">Now this isn’t to say you need to follow this model precisely, if you are feeling like a higher intensity workout in your Luteal phase, go for it! As long as you are listening to your body and being kind to yourself, this is what we strive for.</p>
    <p class="mb-4 opacity-50">So I hope you enjoy this space. We cannot wait to support you on your journey!</p>
    <p class="mb-4 opacity-50">Em & George</p>
  </div>
</div>