<% error_types ||= nil %>

<% if resource.errors.any? %>
  <div id="error_explanation" class="p-2 px-3 mb-2 bg-terracotta text-white">
    <h2 class="font-serif">Oops... there are some errors:</h2>
    <ul>
      <% resource.errors.each do |error| %>
      	<% if error_types.nil? %>
        	<li class="text-sm opacity-70"><%= error.full_message %></li>
      	<% else %>
      		<% if error_types.include?(error.attribute) %>
      			<li class="text-sm opacity-70"><%= error.full_message %></li>
      		<% end %>
      	<% end %>
      <% end %>
    </ul>
  </div>
<% end %>