<% disable_with ||= "" %>

<%= button_tag(type: 'submit', class: "bg-black text-white px-6 py-4 text-center cursor-pointer inline-block uppercase w-full flex items-center justify-center font-medium mt-4 rounded-none transform ease-out duration-100 scale-100 transition-transform-gpu active:scale-95 disabled:active:scale-100") do %>
  <span class="show-when-enabled"><%= value %></span>
  <span class="show-when-disabled">
  	<div class="flex items-center">
	  	<div class="h-6 w-14 overflow-hidden inline-flex items-center justify-center">
	  		<%= image_tag 'white-loader.gif', height: 50, class: 'object-cover object-center w-full' %>
	  	</div>
	  	<%= disable_with %>
  	</div>
  </span>
<% end %>