@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");

@font-face {
    font-family: 'Value Serif';
    src: url('ValueSerif-Regular.woff2') format('woff2'),
        url('ValueSerif-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}