<% if category.photo.attached? %>
	<%= link_to category_path(category), style:"background-image: url(#{cl_image_path(category.photo.key, height: 500, width: 500, crop: :fill)})", class: 'bg-white aspect-w-3 aspect-h-2 bg-cover' do %>
		<div class="w-full h-full p-4">
			<h4 class="font-medium uppercase inline-block text-xl"><%= category.name %></h4>
		</div>
	<% end %>
<% else %>
	<%= link_to category_path(category), class: 'bg-white aspect-w-3 aspect-h-2' do %>
		<div class="w-full h-full p-4">
			<h4 class="font-medium uppercase inline-block text-xl"><%= category.name %></h4>
		</div>
	<% end %>
<% end %>