<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>
  <body data-controller="native" class="bg-cream">
    <%= render 'shared/navbar' %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
