<% if is_native? %>
  <div class="fixed inset-x-0 top-0 flex items-end justify-right px-4 py-4 sm:py-6 sm:p-6 justify-center flex-col items-center pointer-events-none z-10">
    <div data-native-target="spacerTop"></div>
    <div class="w-full flex items-center justify-between h-6">
      <%= render 'components/back/icon_link', path:account_path, klass:'pointer-events-auto' %>
    </div>
  </div>
  <div class="w-screen h-screen fixed top-0 left-0">
    <!-- FIXED TOP -->
    <!-- CONTENT -->
    <div class="h-full w-full p-4 pb-14 md:pb-24 flex flex-col items-center justify-center text-center">
      <%= render 'icons/account', klass: "w-10 h-10 text-black opacity-50 mb-8" %>
      <h2 class="font-serif text-3xl mb-4">Looking for your<br>membership settings?</h2>
      <p class="max-w-sm font-serif">Please go to Align Body on the web<br>to manage your membership.</p>
    </div>
    <!-- <div class="absolute bottom-0 w-full h-1/3 bg-gradient-to-t from-white"></div> -->
  </div>
<% else %>
  <% content_for :meta_title, 'Your plan' %>

  <%= render 'components/header' do %>
    <% if current_user.subscribed? %>
      <h1 class="font-serif text-4xl">Edit my membership</h1>
      <p class="font-serif opacity-80">Update your membership below.</p>
    <% else %>
      <h1 class="font-serif text-4xl">Become a member</h1>
      <p class="font-serif opacity-80">To gain access to a community that will help you improve your body & mind, please select a membership option below.</p>
    <% end %>
  <% end %>

  <div class="p-4">
    <div class="container">
      <!-- Plans -->
      <div class="mb-8">
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4">
          <%# render 'accounts/free_plan' %>
          <% @plans.each do |plan| %>
            <%= render 'accounts/plan', plan: plan %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>