<%= render 'components/header' do %>
  <%= render 'components/back/text_link', text: 'Back', klass:'mb-2' %>
  <h1 class="font-serif text-4xl">End user licence agreement</h1>
  <p class="font-serif opacity-80">Last updated March 08, 2022</p>
<% end %>
<div class="mb-8 p-4">
  <div class="container text-shale">
    Align Body is licensed to You (End-User) by Align Body (hereinafter: Licensor), for use only under the terms of this License Agreement. 

    By downloading the Application from the Apple AppStore, and any update thereto (as permitted by this License Agreement), You indicate that You agree to be bound by all of the terms and conditions of this License Agreement, and that You accept this License Agreement.

    The parties of this License Agreement acknowledge that Apple is not a Party to this License Agreement and is not bound by any provisions or obligations with regard to the Application, such as warranty, liability, maintenance and support thereof. Align Body, not Apple, is solely responsible for the licensed Application and the content thereof.

    This License Agreement may not provide for usage rules for the Application that are in conflict with the latest App Store Terms of Service. Align Body acknowledges that it had the opportunity to review said terms and this License Agreement is not conflicting with them.

    All rights not expressly granted to You are reserved.


    <h2 class="mt-8 mb-4 capitalize font-serif text-xl text-forest">The application</h2>

    Align Body (hereinafter: Application) is a piece of software created to Guide and facilitate people to do home workouts, including HIIT and Pilates - and customized for Apple mobile devices. It is used to Facilitate home workouts.

    The Application is not tailored to comply with industry-specific regulations (Health Insurance Portability and Accountability Act (HIPAA), Federal Information Security Management Act (FISMA), etc.), so if your interactions would be subjected to such laws, you may not use this Application. You may not use the Application in a way that would violate the Gramm-Leach-Bliley Act (GLBA).

    <h2 class="mt-8 mb-4 capitalize font-serif text-xl text-forest">Scope of the license</h2>
    You are given a non-transferable, non-exclusive, non-sublicensable license to install and use the Licensed Application on any Apple-branded Products that You (End-User) own or control and as permitted by the Usage Rules set forth in this section and the App Store Terms of Service, with the exception that such licensed Application may be accessed and used by other accounts associated with You (End-User, The Purchaser) via Family Sharing or volume purchasing.
    This license will also govern any updates of the Application provided by Licensor that replace, repair, and/or supplement the first Application, unless a separate license is provided for such update in which case the terms of that new license will govern.
    You may not share or make the Application available to third parties (unless to the degree allowed by the Apple Terms and Conditions, and with Align Body's prior written consent), sell, rent, lend, lease or otherwise redistribute the Application.
    You may not reverse engineer, translate, disassemble, integrate, decompile, integrate, remove, modify, combine, create derivative works or updates of, adapt, or attempt to derive the source code of the Application, or any part thereof (except with Align Body's prior written consent).
    You may not copy (excluding when expressly authorized by this license and the Usage Rules) or alter the Application or portions thereof. You may create and store copies only on devices that You own or control for backup keeping under the terms of this license, the App Store Terms of Service, and any other terms and conditions that apply to the device or software used. You may not remove any intellectual property notices. You acknowledge that no unauthorized third parties may gain access to these copies at any time.
    Violations of the obligations mentioned above, as well as the attempt of such infringement, may be subject to prosecution and damages.
    Licensor reserves the right to modify the terms and conditions of licensing.
    Nothing in this license should be interpreted to restrict third-party terms. When using the Application, You must ensure that You comply with applicable third-party terms and conditions.

    <h2 class="mt-8 mb-4 capitalize font-serif text-xl text-forest">Technical requirements</h2>
    The Application requires a firmware version 1.0.0 or higher. Licensor recommends using the latest version of the firmware.
    Licensor attempts to keep the Application updated so that it complies with modified/new versions of the firmware and new hardware. You are not granted rights to claim such an update.
    You acknowledge that it is Your responsibility to confirm and determine that the app end-user device on which You intend to use the Application satisfies the technical  specifications mentioned above.
    Licensor reserves the right to modify the technical specifications as it sees appropriate at any time.

    <h2 class="mt-8 mb-4 capitalize font-serif text-xl text-forest">Maintenance and support</h2>
    The Licensor is solely responsible for providing any maintenance and support services for this licensed Application. You can reach the Licensor at the email address listed in the App Store Overview for this licensed Application.
    Align Body and the End-User acknowledge that Apple has no obligation whatsoever to furnish any maintenance and support services with respect to the licensed Application.

    <h2 class="mt-8 mb-4 capitalize font-serif text-xl text-forest">Use of data</h2>
    You acknowledge that Licensor will be able to access and adjust Your downloaded licensed Application content and Your personal information, and that Licensor's use of such material and information is subject to Your legal agreements with Licensor and Licensor's privacy policy: https://www.alignbody.com.au/privacy.

    <h2 class="mt-8 mb-4 capitalize font-serif text-xl text-forest">User generated contributions</h2>
    The Application does not offer users to submit or post content. We may provide you with the opportunity to create, submit, post, display, transmit, perform, publish, distribute, or broadcast content and materials to us or in the Application, including but not limited to text, writings, video, audio, photographs, graphics, comments, suggestions, or personal information or other material (collectively, "Contributions"). Contributions may be viewable by other users of the Application and through third-party websites or applications. As such, any Contributions you transmit may be treated in accordance with the Application Privacy Policy. When you create or make available any Contributions, you thereby represent and warrant that:
    The creation, distribution, transmission, public display, or performance, and the accessing, downloading, or copying of your Contributions do not and will not infringe the proprietary rights, including but not limited to the copyright, patent, trademark, trade secret, or moral rights of any third party.
    You are the creator and owner of or have the necessary licenses, rights, consents, releases, and permissions to use and to authorize us, the Application, and other users of the Application to use your Contributions in any manner contemplated by the Application and these Terms of Use.
    You have the written consent, release, and/or permission of each and every identifiable individual person in your Contributions to use the name or likeness or each and every such identifiable individual person to enable inclusion and use of your Contributions in any manner contemplated by the Application and these Terms of Use.
    Your Contributions are not false, inaccurate, or misleading.
    Your Contributions are not unsolicited or unauthorized advertising, promotional materials, pyramid schemes, chain letters, spam, mass mailings, or other forms of solicitation.
    Your Contributions are not obscene, lewd, lascivious, filthy, violent, harassing, libelous, slanderous, or otherwise objectionable (as determined by us)
    Your Contributions do not ridicule, mock, disparage, intimidate, or abuse anyone.
    Your Contributions are not used to harass or threaten (in the legal sense of those terms) any other person and to promote violence against a specific person or class of people.
    Your Contributions do not violate any applicable law, regulation, or rule.
    Your Contributions do not violate the privacy or publicity rights of any third party.
    Your Contributions do not violate any applicable law concerning child pornography, or otherwise intended to protect the health or well-being of minors.
    Your Contributions do not include any offensive comments that are connected to race, national origin, gender, sexual preference, or physical handicap.
    Your Contributions do not otherwise violate, or link to material that violates, any provision of these Terms of Use, or any applicable law or regulation.

    Any use of the Application in violation of the foregoing violates these Terms of Use and may result in, among other things, termination or suspension of your rights to use the Application.

    <h2 class="mt-8 mb-4 capitalize font-serif text-xl text-forest">Contribution license</h2>
    You agree that we may access, store, process, and use any information and personal data that you provide following the terms of the Privacy Policy and your choices (including settings).

    By submitting suggestions of other feedback regarding the Application, you agree that we can use and share such feedback for any purpose without compensation to you.

    We do not assert any ownership over your Contributions. You retain full ownership of all of your Contributions and any intellectual property rights or other proprietary rights associated with your Contributions. We are not liable for any statements or representations in your Contributions provided by you in any area in the Application. You are solely responsible for your Contributions to the Application and you expressly agree to exonerate us from any and all responsibility and to refrain from any legal action against us regarding your Contributions.

    <h2 class="mt-8 mb-4 capitalize font-serif text-xl text-forest">Risk, disclaimer & limitation of liability</h2>
    You will receive access to the Application and Website upon payment from you.
    We provide no estimate as to time of delivery and you agree that time is not of the essence with respect to delivery.
    Where we provide access to the online Program, and you claim that you have not received such access, then you must contact us via hello@alignbody.com.au within 7 days of the date by which you purchased the Membership for us to investigate your claim.
    To the extent we supply any ‘recreational services’ or ‘recreational activities’ (within the meaning of the Competition and Consumer Act (2010) (Cth) or any State or Territory civil liability or consumer protection legislation or corresponding services or activities under any other applicable local law from your jurisdiction), you acknowledge that your participation in the recreational services and activities may involve risks, including personal injury and death. Prior to participating in the recreational services and activities, you must assess all the risks involved, including risks that may be caused by your own acts or omissions, your health condition/s, those of other users of the Website and risks that are not known to you or are not readily foreseeable at the time of participating in the recreational services and activities. By participating, you are doing so voluntarily and at your own risk. To the extent permitted and required by law, this is a risk warning pursuant to the various civil liability and consumer protection legislation. You assume all risks in connection with your participation in any recreational services and activities that we may provide.
    Before participating in any exercise program or using any diet or fitness products or services that may be described and/or made accessible in or through the Services, we strongly recommend that you consult with a medical practitioner or other healthcare provider. Align Body are not licensed medical practitioners, are not rendering personal medical advice or treatment, and have no expertise in advising on, diagnosing, examining or treating medical conditions of any kind, or in determining the effect of any specific exercise or diet on a medical condition.
    Align Body and the Services are not substitutes for medical advice from your doctor or healthcare provider. We make no warranties or representations, express or implied, as to the completeness, accuracy, or appropriateness for any purpose of any information, content, product or service contained in the Services.
    If you know or suspect that you may be pregnant, have an eating disorder, have diabetes or have any other physical or medical condition, it is imperative that you seek the advice of a medical practitioner before using any information, goods, services, diet, exercise or fitness program available, advertised or sold on or through the Services. If you experience any discomfort, pain or other unexpected side effect during a diet, exercise or fitness routine, you must immediately cease the activity and seek the assistance of a physician.

    <h2 class="mt-8 mb-4 capitalize font-serif text-xl text-forest">Warranty & refunds</h2>
    Subject to the rights granted to you by statutory consumer protection legislation, which cannot be excluded, due to the nature of the Website/Application and/or the products and services offered by the Website/App, and as we make no representations to you in respect of your use of the Website/App and/or the products or services offered by the Website/App, we provide no warranty as to any results or outcomes associated with using the Website/App, nor in respect of any use of the products or services offered by the Website/App.
    You expressly acknowledge that your use of the Website/App and its products and/or services is at your sole risk.
    We do not offer refunds or credits for unused subscription periods, accidental purchases, medical conditions, or any similar reason or event, unless required by law to do so.
    Licensor warrants that the Application is free of spyware, trojan horses, viruses, or any other malware at the time of Your download. Licensor warrants that the Application works as described in the user documentation.
    No warranty is provided for the Application that is not executable on the device, that has been unauthorizedly modified, handled inappropriately or culpably, combined or installed with inappropriate hardware or software, used with inappropriate accessories, regardless if by Yourself or by third parties, or if there are any other reasons outside of Align Body's sphere of influence that affect the executability of the Application.
    You are required to inspect the Application immediately after installing it and notify Align Body about issues discovered without delay by e-mail provided in Product Claims. The defect report will be taken into consideration and further investigated if it has been mailed within a period of zero (0) days after discovery.
    If we confirm that the Application is defective, Align Body reserves a choice to remedy the situation either by means of solving the defect or substitute delivery.
    In the event of any failure of the Application to conform to any applicable warranty, You may notify the App-Store-Operator, and Your Application purchase price will be refunded to You. To the maximum extent permitted by applicable law, the App-Store-Operator will have no other warranty obligation whatsoever with respect to the App, and any other losses, claims, damages, liabilities, expenses and costs attributable to any negligence to adhere to any warranty.
    If the user is an entrepreneur, any claim based on faults expires after a statutory period of limitation amounting to twelve (12) months after the Application was made available to the user. The statutory periods of limitation given by law apply for users who are consumers.

    <h2 class="mt-8 mb-4 capitalize font-serif text-xl text-forest">Product claims</h2>
    Align Body and the End-User acknowledge that Align Body, and not Apple, is responsible for addressing any claims of the End-User or any third party relating to the licensed Application or the End-User’s possession and/or use of that licensed Application, including, but not limited to:
    Product liability claims;
    Any claim that the licensed Application fails to conform to any applicable legal or regulatory requirement; and
    Claims arising under consumer protection, privacy, or similar legislation, including in connection with Your Licensed Application’s use of the HealthKit and HomeKit.

    <h2 class="mt-8 mb-4 capitalize font-serif text-xl text-forest">Payments</h2>
    In purchasing any product or Service from the Website/App ("the Purchase") you agree to:
    Pay using a valid credit card (or other form of payment as we may allow);
    Provide us with current and complete information as detailed in the purchase order form including full legal name, email address, credit card details and billing information as required and without limiting any of our rights and remedies if we discover or believe that any information provided by you is inaccurate or incomplete, we reserve the right to refuse to continue with your Purchase, or put on hold or terminate your access to the website, the Application or any of the services or products provided by us at any stage at our sole discretion and you forfeit any right to a refund of any payment made by you for the Purchase;
    Pay all costs, fees, charges, applicable taxes and other charges as may be incurred in respect of the Purchase ("the costs").
    All costs are in AU Dollars unless otherwise indicated.
    You acknowledge and agree that prices will vary depending on the type of Subscription.
    You must pay the Subscription Fee in accordance with the billing frequency specified at the time of Registration (Due Date)
    Your Subscription will automatically renew on the Due Date unless cancelled in accordance with this clause; and
    The Subscription Fee is subject to review by the Business and may be varied by notice in writing to you not less than thirty (30) days prior to the Due Date, and you agree that such notice may occur via email or by other reasonable means.
    Your access to the Service is conditional on you paying the Subscription Fee (Subscription). Processing and Payment
    If a payment of the Subscription Fee is rejected, invalid or otherwise unsuccessful, your Subscription may be automatically cancelled.
    You may cancel your Subscription by: 
    Providing at least 7 days notice in writing to hello@alignbody.com.au
    Any cancellation of the Subscription by you will take effect at the end of the period to which the Subscription Fee relates.
    Upon cancellation of the Subscription, you will no longer be permitted to have access to or the benefit of the Service at the end of your paid subscription period.

    <h2 class="mt-8 mb-4 capitalize font-serif text-xl text-forest">Third-party terms of agreements & beneficiar</h2>
    Align Body represents and warrants that Align Body will comply with applicable third-party terms of agreement when using licensed Application.
    In Accordance with Section 9 of the "Instructions for Minimum Terms of Developer's End-User License Agreement," Apple and Apple's subsidiaries shall be third-party beneficiaries of this End User License Agreement and - upon Your acceptance of the terms and conditions of this license agreement, Apple will have the right (and will be deemed to have accepted the right) to enforce this End User License Agreement against You as a third-party beneficiary thereof.

    <h2 class="mt-8 mb-4 capitalize font-serif text-xl text-forest">Intellectual property rights</h2>
    Align Body and the End-User acknowledge that, in the event of any third-party claim that the licensed Application or the End-User's possession and use of that licensed Application infringes on the third party's intellectual property rights, Align Body, and not Apple, will be solely responsible for the investigation, defense, settlement and discharge or any such intellectual property infringement claims.
    The Services, including, without limitation, all design, text, images, photographs, illustrations, artwork, graphic material, code, content, protocols, software, and documentation (IP) provided to you by us, are our property and are protected by copyright, trademarks and other proprietary rights and laws relating to intellectual property. Nothing contained in the Terms should be construed as granting, by implication, estoppel or otherwise, any license or right to use the IP without our express prior written consent.
    You represent and warrant to us that, with regard to Your Submissions:
    You own or have the necessary licences, rights, consents and permissions to use, and irrevocably authorize Us to use, all patent, trademark, trade secret, copyright and other proprietary rights in and to any and all of Your Submissions to enable their inclusion and use in the manner contemplated by us and these Site Terms; and
    You have the written consent, release and/or permission of each and every identifiable person in Your Submissions to use their name or likeness to enable inclusion and use of Your Submissions in the manner contemplated by us and these Terms.
    You agree that Your Submissions will not:
    Include material that is copyrighted, protected by trade secret or otherwise subject to third party proprietary rights, including privacy rights, unless you are the owner of such rights or have permission from the proper owner to post the material and to grant us all of the rights granted in these Terms;
    Publish falsehoods or misrepresentations that could damage us or any third party;
    Include material that is unlawful, obscene, defamatory, libellous, threatening, pornographic, harassing, hateful, racially or ethnically offensive or which encourages conduct that would be considered a criminal offence, give rise to civil liability, violate any law or which is otherwise inappropriate; or
    Post advertisements or solicitations of business.
    We also reserve the right, for any reason, to remove or not publish any or all of Your Submissions and to remove content posted by you without prior notice.
    You understand and acknowledge that, when you submit content in any form to the Services, we may authorise such content to be distributed or syndicated to or published on other Align Body owned or operated environments or the web platforms of any of Our affiliates.
    You indemnify us, and will keep us indemnified, against any breach of this Section XX and against any claim or action by a third party, and any liability, cost, expense or charge of any kind whatsoever in connection with any such claim or action, that the third party’s intellectual property rights have been breached in any way whatsoever.
    You have rights if you believe your copyright is being infringed. If you are a copyright owner and believe that any of Services infringes your copyright, please contact us at email: hello@alignbody.com.au
    We acknowledge that all personal information provided by you remains your property.



    <h2 class="mt-8 mb-4 capitalize font-serif text-xl text-forest">Applicable law</h2>
    This license agreement is governed by the laws of Australia excluding its conflicts of law rules.

    <h2 class="mt-8 mb-4 capitalize font-serif text-xl text-forest">Miscellaneous</h2>
    If any of the terms of this agreement should be or become invalid, the validity of the remaining provisions shall not be affected. Invalid terms will be replaced by valid ones formulated in a way that will achieve the primary purpose.
    Collateral agreements, changes and amendments are only valid if laid down in writing. The preceding clause can only be waived in writing.
  </div>
</div>